<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Select Project</h4>
  <!--<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>-->
</div>
<hr />
<div class="container">
  <input type="text" placeholder="Search Project" [(ngModel)]="searchText" class="form-control" />&nbsp;&nbsp;  
</div>
<hr />
<div class="modal-body">
  <form>
    <div class="form-group">
      <!--<label for="dateOfBirth">Pick Manager</label>
      <div class="input-group">
        <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
        </div>
      </div>-->
      <div>
        <table class=".table">
          <tr>
            <th>Project Name</th>
            <th>Manager Id</th>
            <th>Select</th>
          </tr>
          <tr *ngFor="let project of projectAPI | filter:[searchText, 'Name']">
            <td>{{project.Name}}</td>
            <td>{{project.Manager_Id}}</td>
            <td><button type="button" (click)="setProject(project)">Select</button></td>
          </tr>
        </table>
      </div>
    </div>
  </form>
</div>
